<footer id="" class="bg-dark" style="height: 200px">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12  h-100 text-center">
        <div class="w-100 h-100 d-table">
          <div class="d-table-cell align-middle text-center">
            <p class="m-auto text-light"><a href="https://shoyaiwanami.com">岩波翔也のウェブサイト</a></p>
            <p class="m-auto text-light" >Shoya Iwanami's Blog  •  Copyright © 2018- Shoya Iwanami</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
