<div class="nav_labwebsite">
  <div id="nav-drawer" class="nav_grobal">
    <div class="site-title">
      <a href="/"><img src="/img/logo_labweb.png" alt="研究者ウェブサイト" width="100px"></a>
    </div>
    <input id="nav-input" type="checkbox" class="nav-unshown">
    <label id="nav-open" for="nav-input"><span></span></label>
    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
    <div id="nav-content">
      <div class="wrapper">
        <nav>
          <ul>
            <li class="site-title"><a href="/"><img src="/img/logo_labweb.png" alt="研究者ウェブサイト" width="100px"></a></li>
            <li {% if page.url == "/lab-website/" %} class="current"{% endif %}><a href="/lab-website/">Home</a></li>
            <li {% if page.url == "/lab-website/contents/" %} class="current"{% endif %}><a href="/lab-website/contents/">Contents</a></li>
          </ul>
        </nav>
      </div>
      <label id="nav-close-button" for="nav-input"><span></span></label>
    </div>
  </div>
</div>
