<div id="nav-drawer" class="nav_grobal">
  <div class="site-title">
    <a href="/"><img src="/img/logo_note.png" alt="Shoya Inwamai's note" width=""></a>
  </div>
  <input id="nav-input" type="checkbox" class="nav-unshown">
  <label id="nav-open" for="nav-input"><span></span></label>
  <label class="nav-unshown" id="nav-close" for="nav-input"></label>
  <div id="nav-content">
    <div class="wrapper">
      <nav>
        <ul>
          <li class="site-title"><a href="/"><img src="/img/logo_note.png" alt="Shoya Inwamai's note"></a></li>
          <li {% if page.url == "/" %} class="current"{% endif %}><a href="/">Home</a></li>
          <li {% if page.url == "/about/" %} class="current"{% endif %}><a href="/about/">About</a></li>
          <li {% if page.url == "/note/" %} class="current"{% endif %}><a href="/note/">Note</a></li>
          <li {% if page.url == "/research/dataanalysis/" %} class="current"{% endif %}><a href="/research/dataanalysis/">Special</a></li>
          <li {% if page.url == "/lab-website/" %} class="current"{% endif %}><a href="/lab-website/">LabWeb</a></li>
        </ul>
      </nav>
    </div>
    <label id="nav-close-button" for="nav-input"><span></span></label>
  </div>
</div>
